/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

:root {
  --green: #1ed760;
  --green-dark: #007f2c;
  --black: black;
  --grey: rgba(37, 35, 35, 0.408);
  --text-inactive: rgb(255 248 248 / 56%);
  --text-active: white;
}

html,
body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  overflow-y: hidden;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.flex-center {
  align-items: center;
  justify-content: flex-start;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #1ed7603d;
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
